## Assessment Code

In [1]:
import pymysql
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="Blessing9@",
                               db="world_x"))

In [3]:
df = pd.read_sql('country', con= engine)

In [4]:
#df

In [5]:
df2 = pd.read_sql('countrylanguage', con= engine)

In [6]:
df2 = df2.rename(columns={'CountryCode': 'Code'})

In [7]:
#df2

In [8]:
dfjoin = pd.merge(df, df2, on='Code',how='left')

In [9]:
#dfjoin

In [10]:
df_Nigeria = dfjoin[(dfjoin['Code']=='NGA')& (dfjoin['Name']=='Nigeria')]

In [11]:
df_Nigeria

    Code     Name  Capital Code2 Language IsOfficial  Percentage
646  NGA  Nigeria   2754.0    NG     Bura          F         1.6
647  NGA  Nigeria   2754.0    NG      Edo          F         3.3
648  NGA  Nigeria   2754.0    NG      Ful          F        11.3
649  NGA  Nigeria   2754.0    NG    Hausa          F        21.1
650  NGA  Nigeria   2754.0    NG   Ibibio          F         5.6
651  NGA  Nigeria   2754.0    NG      Ibo          F        18.1
652  NGA  Nigeria   2754.0    NG      Ijo          F         1.8
653  NGA  Nigeria   2754.0    NG   Joruba          F        21.4
654  NGA  Nigeria   2754.0    NG   Kanuri          F         4.1
655  NGA  Nigeria   2754.0    NG      Tiv          F         2.3

In [12]:
df_Nigeria.shape

(10, 7)

In [13]:
query2 = '''SELECT *
FROM country
LEFT JOIN countrylanguage
ON country.Code = countrylanguage.CountryCode
where country.Code = 'NGA';
'''

In [14]:
dftest = pd.read_sql(query2, con=engine)

In [15]:
dftest = dftest.drop('CountryCode', axis = 1)

In [16]:
dftest.shape

(10, 7)

In [17]:
dftest.shape == df_Nigeria.shape

True

In [19]:
df.to_sql('nigerialang', con=engine, index=False)