## Assessment Code

In [2]:
import pymysql
import pandas as pd
from sqlalchemy import create_engine

### Step 1 
Create an SQLAlchemy engine for a MySQL database, and enter the appropriate credentials, which includes user, password, database and host.

In [3]:
# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="Blessing9@",
                               db="world_x"))

### Step 2 
Read the “country” and the “countrylanguage” tables. You can do this with the Pandas.read_sql or read_sql_table method. 
You expected to generate two pandas DataFrame from this, and you can provide any name for them.

In [4]:
df = pd.read_sql('country', con= engine)

In [5]:
#df

In [6]:
df2 = pd.read_sql('countrylanguage', con= engine)

### Step 3 
Rename the “CountryCode” column in the DataFrame generated from the “Countrylanguage” table. The new column name is “Code”. Hint: Use the Pandas.rename() method for this.

In [7]:
df2 = df2.rename(columns={'CountryCode': 'Code'})

In [8]:
#df2

### Step 4 
In this step, you are expected to perform a LEFT JOIN by joining the “country” table to “countrylanguage”. You will perform this step using the Pandas method of combining data on a common column which is “Code”. Save your result to a DataFrame named “df_country”

In [9]:
df_country = pd.merge(df, df2, on='Code',how='left')

In [10]:
#dfjoin


### Step 5 
From the results above, you will filter the DataFrame(df_country) to return another DataFrame where the “Code” column is “NGA” and the “Name” column is “Nigeria”. In essence, you are to generate a table for the country Nigeria. You can name this DataFrame “df_Nigeria”

In [11]:
df_Nigeria = dfjoin[(dfjoin['Code']=='NGA')& (dfjoin['Name']=='Nigeria')]

In [12]:
df_Nigeria

    Code     Name  Capital Code2 Language IsOfficial  Percentage
646  NGA  Nigeria   2754.0    NG     Bura          F         1.6
647  NGA  Nigeria   2754.0    NG      Edo          F         3.3
648  NGA  Nigeria   2754.0    NG      Ful          F        11.3
649  NGA  Nigeria   2754.0    NG    Hausa          F        21.1
650  NGA  Nigeria   2754.0    NG   Ibibio          F         5.6
651  NGA  Nigeria   2754.0    NG      Ibo          F        18.1
652  NGA  Nigeria   2754.0    NG      Ijo          F         1.8
653  NGA  Nigeria   2754.0    NG   Joruba          F        21.4
654  NGA  Nigeria   2754.0    NG   Kanuri          F         4.1
655  NGA  Nigeria   2754.0    NG      Tiv          F         2.3

(10, 7)


### Step 6  
To test the methods above, perform a similar LEFT JOIN by writing an SQL query(not Pandas method) and save to a variable. Using the Pandas.read_sql method, read the query from the database to perform and generate results for the join procedure. Save the result to another DataFrame name e.g df_Nigeria_SQL
Note: Use SELECT * when writing the query so as to generate columns that are similar to previous steps. Also remember to drop the “countrycode” column

In [13]:
query2 = '''SELECT *
FROM country
LEFT JOIN countrylanguage
ON country.Code = countrylanguage.CountryCode
where country.Code = 'NGA';
'''

In [14]:
df_Nigeria_SQL = pd.read_sql(query2, con=engine)

### Step 7 
Use the shape attribute to check the shape of both DataFrames(df_Nigeria & df_Nigeria_SQL). The result should be the same for both DataFrames. You can write a conditional statement to check if both shapes are equal. 
Ensure that you don’t have “countrycode” column in your test DataFrame

In [18]:
df_Nigeria_SQL = df_Nigeria_SQL.drop('CountryCode', axis = 1)

In [19]:
df_Nigeria_SQL.shape

(10, 7)

In [20]:
df_Nigeria.shape

(10, 7)

In [21]:
df_Nigeria_SQL.shape == df_Nigeria.shape

True

### Step 8 
Using the DataFrame.to_sql method, save the results of “df_Nigeria” to a new table(you can provide any name e.g “nigerialanguage” to the database. 
Provide a screenshot to show that your procedure ran successfully.

In [22]:
df.to_sql('nigerialang', con=engine, index=False)